<% layout('layouts/boilerplate') -%>

<form action="/shots/<%=shot._id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
   <div><input type="text" name="shot[title]" value="<%=shot.title%>"></div>
   <div><input type="text" name="shot[body]" value="<%=shot.body%>"></div>
   <div>
     <input type="file" id="imageUpload" accept="image/*" name="image" multiple/>
   </div>
     <button class="submit-shot-button">Submit</button>
</form>


<script src="/javascripts/shot-edit.js"></script>