<form action="/shots" method="POST" enctype="multipart/form-data">
   <input type="text" name="shot[title]" placeholder="title">
   <input type="text" name="shot[body]" placeholder="description">
   <div>
     <input type="file" accept="images/*" name="images" multiple/>
   </div>
   <button class="submit-shot-button">Submit</button>
</form>