<% layout('layouts/boilerplate') -%>


<div class="usersSearch">
  <p>Search for artists</p>
</div>
<% users.forEach(function(user){ %>
  <div class="usersDiv">
  <h1><a href="/users/<%=user.id%>"><%=user.username%></a></h1>
  </div>
<% }) %>