<% layout('layouts/boilerplate') -%>


<div class="main-register">

<div class="regFormMain">
<h1>Sign up</h1>
<form class="regForm" action="/register" method="POST">




 <div class="field">
 <label>Your name</label>
<input type="text" name="firstName">
  </div>


  <div class="field">
<Label>Choose a username</Label>
    <input type="text" name="username">
  </div>


  <div class="field">
  <Label>Email</Label>
    <input type="email" name="email">
  </div>

  <div class="field">
  <Label>Password</Label>
    <input type="password" name="password">
    <p class="passwordMessage">Minimum 6 characters</p>
  </div>

  <button class="signup-button" type="submit">Create account</button>
  <p class="alreadyMember">Already a member? <a href="/login">Sign in</a></p>
</form>
</div>




</div>