.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  margin: 0;
  padding: 5px 40px;
}

.main-nav .muse-search {
  margin-right: 0;
}

.main-nav .muse-logo {
  margin-right: 40px;
  font-family: 'Staatliches', cursive;
  font-size: 2.4em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav .muse-logo a {
  color: #fff;
  opacity: 1.0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.main-nav .muse-logo a:hover {
  color: #a4a4a4;
  opacity: 0.6;
}

.main-nav .muse-profile-image {
  margin-left: auto;
  margin-right: 5px;
}

.main-nav .muse-profile-image img {
  border-radius: 50%;
}

.main-nav .muse-signup {
  margin-left: auto;
}

.main-nav li {
  margin-right: 20px;
  font-weight: bold;
}

.main-nav a {
  color: #a4a4a4;
}

.main-nav a:hover {
  color: #fff;
  text-decoration: none;
}

.main-nav .searchBox {
  width: 230px;
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  border: 0 none;
  font-weight: sebibold;
}

.main-nav .toggle-button {
  display: none;
}

.active a {
  color: white;
}

.site-menu {
  background-color: white;
  position: fixed;
  top: 35px;
  left: 35px;
  padding: 15px 15px;
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 24px 16px -15px rgba(0, 0, 0, 0.1), 0px 2px 26px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 24px 16px -15px rgba(0, 0, 0, 0.1), 0px 2px 26px rgba(0, 0, 0, 0.16);
  -webkit-animation: bounce-out 400ms ease-in-out 100ms;
          animation: bounce-out 400ms ease-in-out 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 9;
}

@media (min-width: 800px) {
  .site-menu {
    top: 66px;
    left: 66px;
  }
}

.site-menu.hidden {
  display: none;
}

.site-menu ul {
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.site-menu ul a {
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.site-menu ul .profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu ul .profile-flex li {
  margin-right: 5px;
}

.site-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 8;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.site-menu-overlay.hidden {
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}

.icon-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 14px;
  left: 18px;
  opacity: 0.7;
  color: #fff;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

@media (min-width: 830px) {
  .icon-menu {
    top: 50px;
    left: 50px;
  }
}

.icon-menu:hover {
  cursor: pointer;
  opacity: 1;
}

.icon-menu:hover .menu-bar-1 {
  -webkit-animation: menu-ani 600ms ease-in-out;
          animation: menu-ani 600ms ease-in-out;
}

.icon-menu:hover .menu-bar-2 {
  -webkit-animation: menu-ani 600ms 100ms ease-in-out;
          animation: menu-ani 600ms 100ms ease-in-out;
}

.icon-menu:hover .menu-bar-3 {
  -webkit-animation: menu-ani-bottom 600ms 200ms ease-in-out;
          animation: menu-ani-bottom 600ms 200ms ease-in-out;
}

@-webkit-keyframes menu-ani {
  0% {
    width: 18px;
  }
  20% {
    width: 2px;
  }
  80% {
    width: 21px;
  }
  100% {
    width: 18px;
  }
}

@keyframes menu-ani {
  0% {
    width: 18px;
  }
  20% {
    width: 2px;
  }
  80% {
    width: 21px;
  }
  100% {
    width: 18px;
  }
}

@-webkit-keyframes menu-ani-bottom {
  0% {
    width: 12px;
  }
  20% {
    width: 2px;
  }
  75% {
    width: 21px;
  }
  100% {
  }
}

@keyframes menu-ani-bottom {
  0% {
    width: 12px;
  }
  20% {
    width: 2px;
  }
  75% {
    width: 21px;
  }
  100% {
  }
}

.icon-menu-close {
  width: 30px;
  height: 30px;
  padding: 4px;
  background: white;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-animation: bounce-out 400ms ease-in-out;
          animation: bounce-out 400ms ease-in-out;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.icon-menu-close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-menu-close.hidden {
  display: none;
}

@media (min-width: 830px) {
  .icon-menu-close {
    top: 46px;
    left: 46px;
  }
}

@media (min-width: 830px) {
  .d-hide {
    display: none;
  }
}

@media (max-width: 830px) {
  .main-nav .burger {
    display: none;
  }
}

.main-register {
  height: 100vh;
  background-color: #fff;
}

.main-register h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 35px;
}

.main-register .regFormMain {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
}

.main-register .regFormMain h1 {
  color: #999;
}

.main-register .regFormMain .regForm p {
  color: #363636;
}

.main-register .regFormMain .regForm label {
  font-weight: bold;
}

.main-register .regFormMain .regForm input {
  margin: 5px 0 5px 0;
  height: 45px;
  width: 100%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  padding: 20px 13px 20px 13px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.main-register .regFormMain .regForm .signup-button {
  background: #363636;
  padding: 10px 13px 10px 13px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

.main-register .regFormMain .regForm .signup-button:hover {
  background: black;
}

.main-register .regFormMain .regForm .alreadyMember {
  margin-top: 7px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.main-register .regFormMain .regForm .alreadyMember a {
  color: #999;
}

.main-container {
  height: 100vh;
  background-color: #fff;
}

.main-container .loginMain {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

.main-container .loginMain label {
  font-weight: bold;
}

.main-container .loginMain h1 {
  margin: 0 auto;
  color: #999;
  font-size: 35px;
  text-align: center;
}

.main-container .loginMain .sign-connections {
  border: 2px solid grey;
  border-radius: 6px;
  padding: 20px 20px;
}

.main-container .loginMain .form-class .signup-notmember {
  margin-top: 7px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.main-container .loginMain .form-class .signup-notmember a {
  color: #999;
}

.main-container .loginMain .form-class .loginForm {
  border-radius: 15px;
  margin-top: 10px;
}

.main-container .loginMain .form-class .loginForm .field {
  margin-bottom: 7px;
}

.main-container .loginMain .form-class .loginForm input {
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 5px 0 5px 0;
  height: 45px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 20px 13px 20px 13px;
  width: 100%;
}

.main-container .loginMain .form-class .loginForm .signin-button {
  width: 100%;
  padding: 10px 13px 10px 13px;
  outline: none;
  border: none;
  background: #363636;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.main-container .loginMain .form-class .loginForm .signin-button:hover {
  background: black;
}

.mainEditShot {
  background-color: #fff;
  height: 100vh;
}

.mainEditShot .submit-shot-button {
  background: #363636;
  padding: 10px 13px 10px 13px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

.mainEditShot .submit-shot-button:hover {
  background: black;
}

.mainEditShot h1 {
  text-align: center;
}

.mainEditShot input {
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 5px 0 5px 0;
  height: 45px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 20px 13px 20px 13px;
  width: 100%;
}

.mainEditShot .shotEdit {
  max-width: 450px;
  margin: 0px auto;
  background-color: #fff;
  padding: 20px;
}

.mainEditShot .shotEdit label {
  font-weight: bold;
}

.add-new-shot {
  max-width: 400px;
  margin: 40px auto;
  height: 100vh;
}

.add-new-shot .add-new-shot-header {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.add-new-shot .newShot label {
  font-weight: bold;
}

.add-new-shot .newShot textarea {
  width: 100%;
  resize: none;
  padding: 10px 13px 20px 13px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
}

.add-new-shot .newShot input {
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin: 5px 0 5px 0;
  height: 45px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 20px 13px 20px 13px;
  width: 100%;
}

.add-new-shot .newShot select {
  width: 100%;
}

.add-new-shot .newShot .submit-shot-button {
  margin-top: 10px;
  width: 100%;
  background: #444;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 13px 10px 13px;
}

.add-new-shot .newShot .submit-shot-button:hover {
  background: black;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/images/bgbgbg.png");
  background-size: cover;
  text-align: center;
  height: 200px;
  padding: 10px;
}

.intro h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.intro .continue {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  padding: 14px 26px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .intro h1 {
    font-size: 2em;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
  grid-row-gap: 20px;
}

.container .section-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.container .section-nav a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 20px 0 0;
}

.container .section-nav a.active, .container .section-nav a:hover {
  color: black;
}

.container .shots {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(202px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
  -ms-grid-rows: minmax(158px, auto);
      grid-template-rows: minmax(158px, auto);
  justify-items: center;
}

.container .shots .shot {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
          box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
  padding: 10px 10px 6px 10px;
  margin-bottom: 20px;
}

.container .shots .shot img {
  -webkit-filter: brightness(100%);
  -webkit-transition: .4s ease-in-out;
}

.container .shots .shot img:hover {
  -webkit-filter: brightness(85%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.container .shots .shot .meta {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .shots .shot .meta .title {
  font-weight: bold;
}

.container .shots .shot .meta .author {
  margin: 18px 0 5px 0;
  font-weight: 400;
}

.container .shots .shot .meta .author:after {
  background-color: #ccc;
  margin: 5px 0 0 0;
  content: '';
  display: block;
  height: 1px;
  width: 10px;
}

.container .shots .shot .category {
  font-size: 12px;
}

.container .shots .shot .shotStatsCount {
  border-top: 1.2px #f2f2f2 solid;
  margin-top: 2px;
  padding-top: 2px;
}

.container .shots .shot .shotStatsCount a {
  color: black;
}

.container .shots .shot .shotStatsCount .shotLikesCount {
  margin-right: 7px;
}

.container .shots .shot .shotStatsCount .shotCommentsCount {
  margin-right: 7px;
}

.container .shots .shot i {
  font-size: 15px;
  margin-right: 7px;
  color: grey;
}

.noMatch {
  grid-column: 1 / -1;
  height: 80px;
  margin: 10px auto;
  border: 1px solid #cccccc;
  padding: 20px;
  -webkit-box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
          box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
  background: #fff;
}

.noMatch h3 {
  font-size: 1.7em;
  margin: 0;
}

.errorMessage {
  color: #fff;
  padding: 15px;
  font-size: 18px;
  background-color: #f55;
  margin: 0 auto;
  text-align: center;
}

.successMessage {
  color: #fff;
  padding: 15px;
  font-size: 18px;
  background-color: #7bbb5e;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: white;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 15px 10px;
}

footer h1 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  color: #999;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.wrapper .profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 0;
  margin-top: 20px;
}

.wrapper .profile-stats p {
  margin-right: 10px;
  color: #bbb;
}

.wrapper .profile-stats i {
  margin-right: 10px;
  color: #444;
}

.wrapper .sidebar {
  display: -ms-grid;
  display: grid;
  text-align: center;
  background: #fff;
  padding: 0 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
          box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
}

.wrapper .sidebar .profile-info {
  padding: 20px 30px;
}

.wrapper .sidebar .profile-info h1 {
  margin: 0;
  font-size: 25px;
}

.wrapper .sidebar .profile-info .userLocation {
  color: #999;
  font-size: 15px;
}

.wrapper .sidebar .profile-info .updateProfile {
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.wrapper .sidebar .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.wrapper .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
  justify-items: center;
}

.wrapper .content .panel {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
          box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25, 25, 25, 0.2);
  padding: 10px 10px 6px 10px;
  width: 246px;
}

.wrapper .content .panel img {
  width: 226px;
  height: 226px;
  -webkit-filter: brightness(100%);
  -webkit-transition: .4s ease-in-out;
}

.wrapper .content .panel img:hover {
  -webkit-filter: brightness(85%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.wrapper .content .panel p {
  margin: 5px;
}

.wrapper .content .panel .title {
  font-weight: bold;
  margin-bottom: 20px;
}

.wrapper .content .panel .shotStatsCount {
  border-top: 1.2px #f2f2f2 solid;
  margin-top: 2px;
  padding-top: 2px;
}

.wrapper .content .panel .shotStatsCount a {
  color: black;
}

.wrapper .content .panel .shotStatsCount .shotLikesCount {
  margin-right: 7px;
}

.wrapper .content .panel .shotStatsCount .shotCommentsCount {
  margin-right: 7px;
}

.wrapper .content .panel i {
  font-size: 15px;
  margin-right: 7px;
  color: grey;
  margin-left: 5px;
}

.wrapper footer {
  padding: 0;
  margin: 0;
}

.main-edit {
  background-color: #fff;
}

.main-edit .editFormMain {
  max-width: 450px;
  margin: 0px auto;
  background-color: #fff;
  padding: 20px;
}

.main-edit .editFormMain .goBack {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.main-edit .editFormMain #updateForm {
  margin-top: 20px;
}

.main-edit .editFormMain .changeAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-edit .editFormMain .changeAvatar img {
  margin-right: 10px;
}

.main-edit .editFormMain label {
  font-weight: bold;
}

.main-edit .editFormMain .saveUser {
  background: #363636;
  padding: 10px 13px 10px 13px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

.main-edit .editFormMain .saveUser:hover {
  background: black;
}

.main-edit .editFormMain h1 {
  margin: 0;
  text-align: center;
}

.main-edit .editFormMain input {
  margin: 5px 0 5px 0;
  height: 45px;
  width: 100%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
  padding: 20px 13px 20px 13px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.showDiv {
  display: -ms-grid;
  display: grid;
  max-width: 720px;
  padding: 0 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  -ms-grid-rows: 80px 1fr 1fr 1fr auto auto auto;
      grid-template-rows: 80px 1fr 1fr 1fr auto auto auto;
  margin: 20px auto;
}

.showDiv .shot-body {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.showDiv .shot-body img {
  width: 400px;
  height: 400px;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25, 25, 25, 0.2);
          box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25, 25, 25, 0.2);
}

.showDiv .shot-description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.showDiv .shot-description p {
  font-size: 16px;
  color: black;
}

.showDiv .shot-description .shot-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.showDiv .shot-description .shot-buttons #btn {
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.showDiv .shot-description .shot-buttons #btn a {
  color: #fff;
  text-decoration: none;
}

.showDiv .shot-header {
  grid-column: 1 / -1;
}

.showDiv .shot-header .shot-header-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.showDiv .shot-header .shot-title {
  font-size: 10px;
}

.showDiv .shot-header .shot-title h1 {
  margin: 0;
}

.showDiv .shot-header .shot-details {
  margin: 0 0 20px 0;
}

.showDiv .shot-header .shot-details a {
  font-weight: bold;
}

.showDiv .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(115px, 130px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(115px, 130px));
  grid-auto-rows: minmax(86px, 130px);
  justify-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 /  5;
}

.showDiv .contents img {
  width: 115px;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25, 25, 25, 0.2);
          box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25, 25, 25, 0.2);
  -webkit-filter: brightness(100%);
  -webkit-transition: .4s ease-in-out;
}

.showDiv .contents img:hover {
  -webkit-filter: brightness(85%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.showDiv .shot-stats {
  line-height: 3;
  color: #999;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.showDiv .shot-stats .more-from {
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  color: #555;
}

.showDiv .shot-stats .more-from a {
  color: black;
}

.showDiv .shot-stats .shot-likes {
  border-bottom: 1px solid #ccc;
}

.showDiv .shot-stats .shot-share {
  border-bottom: 1px solid #ccc;
}

.showDiv .shot-stats .shot-share .share-icons i {
  margin: 0 0 0 10px;
}

.showDiv .shot-stats .shot-share .share-icons i:hover {
  color: black;
}

@media all and (min-width: 740px) {
  .shot-stats {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.comments-section {
  border-top: 1px solid #ccc;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.comments-section .content {
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #ccc;
}

.comments-section .profile-comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin: 7px 10px 0 0;
}

.comments-section .comment-author {
  font-size: 20px;
  font-weight: 600;
}

.comments-section .comment-body {
  font-size: 15px;
  margin-left: 50px;
}

.comments-section #comments-header {
  font-size: 19px;
}

.comments-section .comment-meta {
  margin: 10px 0 10px 50px;
}

.comments-section button {
  display: inline-block;
}

.comments-section textarea {
  width: 400px;
  height: 100px;
  padding: 10px;
  resize: none;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 1,5em;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.comments-section #btn {
  padding: 5px 10px;
  margin: 5px 0 5px 0;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: #444;
  color: WHITE;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.edit-comment-form {
  display: none;
}

.colorRed {
  color: #ea4c89;
}

.colorGrey {
  color: grey;
}

.usersSearch {
  font-size: 4em;
  text-align: center;
  background: #252525;
  padding: 10px 0 10px 0;
}

.userInformation {
  max-width: 1200px;
  margin: 20px auto;
  padding: 2% 3%;
}

.userInformation .usersDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 0;
  border-top: 1px solid #ccc;
}

.userInformation .usersDiv .meta-info {
  padding: 0 10px;
}

.userInformation .usersDiv .userInformationPic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  height: 100%;
  background: #f2f2f2;
  font: 14px/1.6 "acumin-pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

ol, ul {
  list-style: none;
}

a {
  color: #555;
}

a:hover, a:focus {
  color: #000;
}

i {
  font-size: 20px;
  margin-right: 10px;
}

h2 {
  margin: 0;
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.


/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*# sourceMappingURL=app.css.map */