
// login and register 

.main-register 
  height: 100vh
  background-color: #fff
  h1 
    margin: 0
    color: white 
    text-align: center 
    font-size: 35px
  .regFormMain
    max-width: 450px
    margin: 0 auto
    border-radius: 15px
    padding: 20px
    h1 
      color: #999
    .regForm 
      p 
        color: #363636
      label 
        font-weight: bold   
      input 
        margin: 5px 0 5px 0
        height: 45px
        width: 100% 
        box-shadow: 0 0 2px rgba(0,0,0,0.2)
        background-color: #f4f4f4
        padding: 20px 13px 20px 13px
        border-radius: 10px
        border: none
        outline: none 
      .signup-button
        background: #363636 
        padding: 10px 13px 10px 13px
        border: none 
        border-radius: 5px
        width: 100%
        margin-top: 10px 
        font-weight: bold 
        color: #fff 
        &:hover 
          background: black 
      .alreadyMember  
        margin-top: 7px
        font-weight: bold
        color: black 
        text-align: center  
        a 
          color: #999
          


.main-container 
  height: 100vh
  background-color: #fff
  .loginMain
    max-width: 450px
    margin: 0 auto 
    background-color: #fff
    padding: 20px
    label 
      font-weight: bold 
    h1
      margin: 0 auto 
      color: #999
      font-size: 35px
      text-align: center 
    .sign-connections 
      border: 2px solid grey
        radius: 6px
      padding: 20px 20px   
    .form-class
      .signup-notmember
        margin-top: 7px
        text-align: center
        color: black 
        font-weight: bold 
        a 
          color: #999
      .loginForm
        border-radius: 15px 
        margin-top: 10px
        .field 
          margin-bottom: 7px  
        input 
          background-color: #f4f4f4
          box-shadow: 0 0 2px rgba(0,0,0,0.2)  
          margin: 5px 0 5px 0
          height: 45px
          border: none 
          border-radius: 10px
          outline: none 
          padding: 20px 13px 20px 13px
          width: 100%
          
        .signin-button 
          width: 100%
          padding: 10px 13px 10px 13px
          outline: none 
          border: none 
          background: #363636 
          border-radius: 10px
          color: #fff 
          font-weight: bold
          cursor: pointer
          &:hover 
            background: black 
   
         
          
.mainEditShot 
  background-color: #fff 
  height: 100vh
  .submit-shot-button
    background: #363636 
    padding: 10px 13px 10px 13px
    border: none 
    border-radius: 5px
    width: 100%
    margin-top: 10px 
    font-weight: bold 
    color: #fff 
    &:hover 
      background: black
  h1 
    text-align: center  
  input 
    background-color: #f4f4f4
    box-shadow: 0 0 2px rgba(0,0,0,0.2)  
    margin: 5px 0 5px 0
    height: 45px
    border: none 
    border-radius: 10px
    outline: none 
    padding: 20px 13px 20px 13px
    width: 100% 
  .shotEdit 
    max-width: 450px
    margin: 0px auto
    background-color: #fff 
    padding: 20px     
    label 
      font-weight: bold 






// add new shot 

  
.add-new-shot
  max-width: 400px
  margin: 40px auto 
  height: 100vh
  .add-new-shot-header 
    text-align: center 
    font-weight: bold 
    font-size: 35px
  .newShot 
    label 
      font-weight: bold
    textarea 
      width: 100%
      resize: none
      padding: 10px 13px 20px 13px
      box-shadow: 0 0 2px rgba(0,0,0,0.2) 
      border: none
        radius: 10px
    input
      background-color: #fff
      box-shadow: 0 0 2px rgba(0,0,0,0.2)  
      margin: 5px 0 5px 0
      height: 45px
      border: none 
      border-radius: 10px
      outline: none 
      padding: 20px 13px 20px 13px
      width: 100%
    select 
      width: 100%  
    .submit-shot-button
      margin-top: 10px
      width: 100%
      background: #444 
      color: #fff 
      font-weight: bold
      border: none 
      border-radius: 10px
      padding: 10px 13px 10px 13px
      &:hover 
        background: black


  



    
  

    
    

/// INTRO SECTION 


.intro
  display: flex 
  justify-content: center
  flex-direction: column
  background-image: url("/images/bgbgbg.png")
  background-size: cover 
  text-align: center
  height: 200px 
  padding: 10px
  h1
    margin: 0
    font-size: 2.5em
    color: #fff  
  .continue 
    border: none 
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    font-weight: bold 
    background-color: #fff 
    padding: 14px 26px
    text-decoration: none  
    text-transform: uppercase 
    border-radius: 10px  
    outline: none 

    


@media only screen and (max-width: 500px)
  .intro h1 
    font-size: 2em



// SECTION NAV



// SHOTS 
.container 
  display: grid
  max-width: 1100px
  margin: 0 auto
  padding: 0 50px
  grid-row-gap: 20px

  .section-nav
    display: flex  
    padding: 10px 0
    border-bottom: 1px solid #ccc

    a
      font-weight: bold
      color: rgba(0,0,0,0.5)
      margin: 0 20px 0 0
      &.active, &:hover
        color: rgba(0,0,0,1)    
  .shots 
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(202px, 1fr))
    grid-template-rows: minmax(158px, auto)
    justify-items: center  

    .shot 
      background: #fff
      border-radius: 5px
      box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25,25,25,0.2)
      padding: 10px 10px 6px 10px
      margin-bottom: 20px
      img 
         -webkit-filter: brightness(100%)
         -webkit-transition: .4s ease-in-out
         &:hover 
           -webkit-filter: brightness(85%)
           -webkit-transition: .4s ease-in-out
           transition: .4s ease-in-out
      .meta
        justify-content: flex-end
        .title 
          font-weight: bold 
        .author
          margin: 18px 0 5px 0 
          font-weight: 400
        .author:after 
          background-color: #ccc
          margin: 5px 0 0 0 
          content: ''
          display: block
          height: 1px
          width: 10px
      .category 
        font-size: 12px  
      .shotStatsCount
        border-top: 1.2px #f2f2f2 solid
        margin-top: 2px
        padding-top: 2px
        a 
          color: black 
        .shotLikesCount
          margin-right: 7px
        .shotCommentsCount
          margin-right: 7px
      i 
        font-size: 15px
        margin-right: 7px   
        color: grey


    



// NO SEARCH MATCH 

.noMatch 
  grid-column: 1 / -1
  height: 80px
  margin: 10px auto 
  border: 1px solid #cccccc
  padding: 20px
  box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25,25,25,0.2)
  background: #fff
  h3 
    font-size: 1.7em 
    margin: 0     


  
// FOOTER 


  




.errorMessage
  color: #fff 
  padding: 15px
  font-size: 18px
  background-color: #f55
  margin: 0 auto 
  text-align: center      


.successMessage
  color: #fff 
  padding: 15px
  font-size: 18px
  background-color: #7bbb5e
  margin: 0 auto 
  text-align: center 




footer 
  background-color: white 
  border-top: 1px solid #e5e5e5
  text-align: center 
  padding: 15px 10px
  h1 
    margin: 0
    font-size: 13px
    font-weight: normal
    color: #999 


  
  
                
      


