
header 
  display: flex 
  justify-content: space-between
  align-items: center
  background-color: #191919
  a 
    color: #a4a4a4
    &:hover
      color: #fff 
      text-decoration: none
  nav 
    display: flex 
    align-items: center 
    
    ul 
      display: flex 
      li 
        margin: 0 15px 
        font-weight: bold 
  .logo 
    margin-left: 40px 
    font-family: 'Staatliches', cursive
    font-size: 2.5em
    a
      color: #fff 
      &:hover
        color: #a4a4a4

  .user-tools 
    display: flex
    margin-right: 40px
    .user-info 
      display: flex
      align-items: center
      li:first-child
        margin: 0
      li:nth-child(2)
        margin-left: 8px
      img 
        border-radius: 50%
    ul
      display: flex
      align-items: center 
      li 
        margin: 0 15px 
        font-weight: bold 
      
     
.active a
  color: white 

@media all and (max-width: 945px) 
  header 
    flex-direction: column


    

  header > a   
    flex-basis: 50%
@media all and (max-width: 920px) 
   .user-tools > ul 
    padding: 0  









.searchBox
  width: 230px
  background: #fff
  border-radius: 3px
  padding: 5px  
  border: 0 none 
  font-weight: sebibold





