
/// shot display 



.showDiv 
  display: grid
  max-width: 720px
  padding: 0 20px
  //background: #fff
  //border-radius: 10px
  //box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25,25,25,0.2)
  grid-template-columns: repeat(2, 1fr)
  grid-column-gap: 20px
  grid-template-rows: 80px 1fr 1fr 1fr auto auto auto
  margin: 20px auto 
  .shot-body 
    grid-column: 1 / 2 
    grid-row: 2 / 5
    img 
      width: 400px 
      height: 400px
      box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25,25,25,0.2)
  .shot-description 
    grid-column: 1 / 2   
    grid-row: 5 / 6 
    p 
      font-size: 16px
      color: black 
    .shot-buttons
      display: flex 
      margin-top: 15px
      margin-bottom: 15px
      #btn
        padding: 5px 10px
        margin-right: 10px
        text-decoration: none
        border-radius: 3px
        border: none 
        background-color: #444
        color: #fff 
        cursor: pointer
        font-weight: bold
        a 
          color: #fff 
          text-decoration: none   
          
  .shot-header
    grid-column: 1 / -1
    .shot-header-avatar 
      width: 50px
      height: 50px
      border-radius: 50%
      float: left 
      margin-right: 10px
      margin-top: 4px
    .shot-title 
      font-size: 10px
      h1 
        margin: 0
    .shot-details
      margin: 0 0 20px 0
      a 
        font-weight: bold    

  .contents
    display: grid 
    grid-template-columns: repeat(auto-fill, minmax(115px, 130px)) // minimum 115px maximum 1fr 
    grid-auto-rows: minmax(86px, 130px) 
    justify-items: center
    grid-column: 2 / 3 
    grid-row: 3 /  5 

    img
      width: 115px
      box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(25,25,25,0.2)
      -webkit-filter: brightness(100%)
      -webkit-transition: .4s ease-in-out
      &:hover 
        -webkit-filter: brightness(85%)
        -webkit-transition: .4s ease-in-out
        transition: .4s ease-in-out
  
  .shot-stats
    line-height: 3
    color: #999
    grid-column: 2 / 3 
    grid-row: 2 / 3 
    .more-from 
      text-align: center
      padding: 5px 0
      font-weight: bold
      color: #555
      a 
        color: black 
 
  
    .shot-likes
      border-bottom: 1px solid #ccc 
    .shot-share 
      border-bottom: 1px solid #ccc
      .share-icons 
        i 
          margin: 0 0 0 10px 
          &:hover 
            color: black  

  
 






@media all and (min-width: 740px)
  .shot-stats
    grid-column: 1 / 2 
   



// comments section 



.comments-section 
  border-top: 1px solid #ccc
  grid-column: 1 / 2 
  grid-row: 6 / 7 
  .content 
    margin: 20px 0 20px 0
    border-bottom: 1px solid #ccc 
  .profile-comment-image 
    width: 40px
    height: 40px
    border-radius: 50%
    float: left 
    margin: 7px 10px 0 0 
  .comment-author 
    font-size: 20px
    font-weight: 600
  .comment-body 
    font-size: 15px  
    margin-left: 50px
  #comments-header 
    font-size: 19px  
  .comment-meta 
    margin: 10px 0 10px 50px  
  button 
    display: inline-block
  textarea 
    width: 400px
    height: 100px
    padding: 10px
    resize: none
    outline: none
    border-radius: 3px
    border: none
    font-size: 1,5em
    box-shadow: 0 0 2px rgba(0,0,0,0.2)  
  #btn   
    padding: 5px 10px
    margin: 5px 0 5px 0
    text-decoration: none
    border-radius: 3px
    border: none 
    background-color: #444 
    color: WHITE
    cursor: pointer
    font-weight: bold
    outline: none
  
    




.edit-comment-form 
  display: none      

.colorRed 
  color: #ea4c89


.colorGrey
  color: grey    