
.wrapper
  display: grid     
  grid-column-gap: 16px
  grid-row-gap: 20px
  max-width: 1050px
  margin: 0 auto
  .profile-stats 
    display: flex
    background: white
    justify-content: center
    border-bottom: 1px solid #ccc
    border-radius: 5px
    padding: 4px   
    margin-top: 20px
    p 
      margin-right: 10px
      color: #bbb 
    i 
      margin-right: 10px 
      color: #444 
  .sidebar 
    display: grid 
    text-align: center
    background: #fff  
    border-radius: 5px
    box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25,25,25,0.2)
    .profile-info 
      padding: 20px 30px
      h1 
        margin: 0  
      .userLocation 
        color: #999
        font-size: 15px
      .updateProfile
        padding: 5px 10px
        margin: 10px
        text-decoration: none
        border-radius: 3px
        border: none 
        background-color: #444 
        color: #444 
        cursor: pointer
        a 
          color: #fff 
          text-decoration: none 
          font-weight: bold    
    .profile-image 
      width: 150px
      height: 150px
      border-radius: 100px 
     

  .content  
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    grid-auto-rows: minmax(150px, 1fr)
    grid-gap: 20px

   

    .panel
      background: #fff
      border-radius: 5px
      box-shadow: 0.2px 0.2px 0.2px 0.2px rgba(25,25,25,0.2)
      padding: 10px 10px 6px 10px
      width: 246px
      height: 320px
      img 
        width: 226px
        height: 169.50px
      p 
        margin: 5px
      .title 
        font-weight: bold 
        margin-bottom: 20px
      .shotStatsCount
        border-top: 1.2px #f2f2f2 solid
        margin-top: 2px
        padding-top: 2px
        a 
          color: black 
        .shotLikesCount
          margin-right: 7px
        .shotCommentsCount
          margin-right: 7px
      i 
        font-size: 15px
        margin-right: 7px   
        color: grey  
        margin-left: 5px

  footer 
    padding: 0
    margin: 0
 
